{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}
			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
                    <!-- Events Large -->
                        <article id="main" class="container special">
                            <header>
                                <h2><a href="#">Latest Upcoming Event</a></h2>
                            </header>
                            <a href="#" class="image featured"><img src="{{ latest_event.image_url }}" alt="No Image"/></a>

                            <h2>{{ latest_event.title }}</h2>
                            <br>
                            <h3>Guest: {{ latest_event.guest }}</h3>
                            <h3>The Party <b>STARTS</b> on {{ latest_event.date }} at {{ latest_event.time }}</h3>
                            <br>
                            <p>{{ latest_event.description }}</p>
                        </article>

						<hr />
                            <!-- UPCOMING EVENTS  -->
                        <header>
                            <h2><a href="#">Upcoming Events</a></h2>
                        </header>
                        <div class="row">
                            {% for event in events %}
							<article class="col-4 col-12-mobile special">
								<a href="{% url 'event details' event.id %}" class="image featured"><img class="imageZoom" src="{{ event.image_url }}" alt="" height="300" /></a>
                            <h2>{{ event.title }}</h2>
                            <br>
                            <h3>Guest: {{ event.guest }}</h3>
                            <h3>The Party <b>STARTS</b> on {{ event.date }} at {{ event.time }}</h3>
                            <br>
                            <p class="event-description">{{ event.description }}</p>
                            <footer>
                                <a href="{% url 'event details' event.id %}" class="button">Details</a>
                            </footer>
							</article>
                            {% endfor %}
                            <!-- PAGINATION -->
                            <ul class="actions pagination">
                                 <span class="step-links">
                                     {% if page_obj.has_previous %}
                                         <a href="?page=1" class="button large next">&laquo; first </a>
                                         <a href="?page={{ page_obj.previous_page_number }}" class="button large previous">previous</a>
                                     {% endif %}
                                     <span class="current">
                                         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                     </span>
                                     {% if page_obj.has_next %}
                                         <a href="?page={{ page_obj.next_page_number }}" class="button large next">next</a>
                                         <a href="?page={{ page_obj.paginator.num_pages }}" class="button large next">last &raquo;</a>
                                     {% endif %}
                                 </span>
                            </ul>
						</div>
                        <hr>
                         <!-- PAST EVENTS  -->
                        <header>
                            <h2><a href="#">PAST Events</a></h2>
                        </header>
                        <div class="row">
                            {% for event in past_events %}
							<article class="col-4 col-12-mobile special">
								<a href="{% url 'event details' event.id %}" class="image featured"><img class="imageZoom" src="{{ event.image_url }}" alt="" height="300" /></a>
                            <h2>{{ event.title }}</h2>
                            <br>
                            <h3>Guest: {{ event.guest }}</h3>
                            <h3>The Party <b>STARTS</b> on {{ event.date }} at {{ event.time }}</h3>
                            <br>
                            <p class="event-description">{{ event.description }}</p>
                            <footer>
                                <a href="{% url 'event details' event.id %}" class="button">Details</a>
                            </footer>
							</article>
                            {% endfor %}
                            <!-- PAGINATION -->
                            <ul class="actions pagination">
                                 <span class="step-links">
                                     {% if page_obj.has_previous %}
                                         <a href="?page=1" class="button large next">&laquo; first </a>
                                         <a href="?page={{ page_obj.previous_page_number }}" class="button large previous">previous</a>
                                     {% endif %}
                                     <span class="current">
                                         Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                     </span>
                                     {% if page_obj.has_next %}
                                         <a href="?page={{ page_obj.next_page_number }}" class="button large next">next</a>
                                         <a href="?page={{ page_obj.paginator.num_pages }}" class="button large next">last &raquo;</a>
                                     {% endif %}
                                 </span>
                            </ul>
						</div>
					</div>

				</div>
{% endblock %}